@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido a la aplicación de Prueba para El Ministerio de Minas y Energía</h1>

Recuerde que para poder ingresar se debe loguear y acceder a las opciones de la aplicación.
Haga <a href="Account/Login">Click Aquí</a> para ingresar

