@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmación de recuperación de password</PageTitle>

<h1>Confirmación de recuperación de password</h1>
<p>
    Por favor, chequea tu email y resetea el password.
</p>
