@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Restablecer confirmación de contraseña</h1>
<p>
    Su contraseña ha sido restablecida. Por favor, <a href="Account/Login">haga clic aquí para iniciar sesión</a>
</p>
